---
layout: layout.njk
---
<article>
    <h2>{{ title }}</h2>
    <div class="date">{{ date | date: "%b %d, %Y" }}</div>
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
