---
layout: layout.njk
title: Gap Year
permalink: /gap-year/
---

<div class="post-list">
    <p style="margin-bottom: 40px; text-align: center;">I'm taking an eight-month gap year this year, with plans to return to society in the fall for grad school. Why are you taking time off during the singularity, you ask? Because I have been slowly withering away and felt it important to try to feel alive again.</p>
    
    {% for post in collections.gapyear %}
    <article>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <div class="date">{{ post.date | dateFormat }} · {{ post.templateContent | readingTime }} min read</div>
    </article>
    {% endfor %}
</div>
